/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: var(--color-header);
    font-family: var(--font-proxyma);
}

/* font toevoegen: https://www.w3schools.com/css/css3_fonts.asp */
@font-face {
    font-family: "proxyma";
    src: url(../fonts/Proxima\ Nova\ Saint\ Laurent\ Clutch.woff2);
}

@font-face {
    font-family: "proxyma_bold";
    src: url(../fonts/Proxima\ Nova\ Semibold\ Saint\ Laurent\ Clutch.woff2);
}

@font-face {
    font-family: "saint_laurent";
    src: url(../fonts/Saint\ Laurent\ Clutch.woff2);
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* kleuren */
    --color-text: #111;
    --color-background: #eee;
    --color-lightbeige: rgb(250, 247, 243);
    --color-header: #f9f7f3;
    --color-header-text-hover: #aba6a4;
    --color-hamburger: #808080;
    --color-border_bottom_searchbar: #dcd8d4;
    --color-status_background: #f6efe7;
    --color-image_background: #f1f0ec;
    --color-button: #f7a800;
    --color-best_seller_text: #3e3a37;
    --color-border_onder_prijs: #e9e5e3;

    /* fonts */
    --font-proxyma: "proxyma";
    --font-proxyma_bold: "proxyma_bold";
    --font-saint_laurent: "saint_laurent";

    /* spacing */
    --spacing-4: 0.25em;
    --spacing-8: 0.5em;
    --spacing-12: 0.75em;
    --spacing-16: 1em;
    --spacing-20: 1.25em;
    --spacing-24: 1.5em;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/************************************************/
/* HEADER */
/************************************************/


header > section {
    width: calc(100% - 8em);
    margin: auto;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
}

header section a {
    color: var(--color-text);
    text-decoration: none;
    padding: 0.1em;
    font-family: var(--font-proxyma);
}

header section a:first-child,
header section a:last-child{
	display: none;
}

header section a:hover {
    color: var(--color-header-text-hover);
}


header nav {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
    padding: 0.6em 0;
    background-color: white;
}

header nav section:nth-child(1) {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--color-header);
    z-index: 20;
    transition: 1s;
    overflow: hidden;
}

header nav section:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 7.6em;
    align-items: center;
    gap: 0;
	margin:0 0.5em;
}

header nav section:nth-child(2) > a img {
    grid-column-start: 3;
    grid-column-end: 5;
    justify-self: center;
	width: 6em;
	margin-left: -0.9em;
	margin-bottom: -0.5em;
}

header nav button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: var(--spacing-12);
}

header nav button span{
	display: none;
	visibility: hidden;
}

header form {
    /* grid-column-start: 5;
    grid-column-end: 6; */
	margin-top: 1em;
	grid-row-start: 2;
	grid-column-start: 1;
    grid-column-end: 7;
    justify-self: end;
    width: 13.5em;
    position: relative;
	width: 100%;
}

header form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-border_bottom_searchbar);
    padding: var(--spacing-12);
}

/* https://www.w3schools.com/howto/howto_css_placeholder.asp */
header form input::placeholder {
    color: var(--color-text);
}

header form img {
    position: absolute;
    right: 0;
}

.user_actions {
    gap: 1.5em;
    justify-self: end;
    margin: 0;
    padding: 0;
    grid-column-start: 5;
	grid-column-end: 7;
    display: flex;
	justify-content: flex-end;
	width: 100%;
}

.user_actions li {
    list-style: none;
    position: relative;
}

.user_actions span {
    position: absolute;
    top: 0;
    right: -0.5em;
    width: 1.5em;
    height: 1.5em;
    background-color: var(--color-status_background);
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10em;
    font-size: 0.7em;
}

/************************************************/
/* MAIN */
/************************************************/


/* https://www.a11yproject.com/posts/how-to-hide-content/ */
main section h1 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main img{
	width: 100%;
}



/************************************************/
/* ONTDEK DE DAMES CATEGORIEEN */
/************************************************/

.ladies-category h2{
    display: flex;
    margin-left: 0.8em;
    max-width: 20ch;
}

.ladies-category ul{
    display: grid;
	grid-template-columns: repeat(2,1fr);
	list-style: none;
    gap: 0.5em;
    margin: 0;
    padding: 0 1em;
}

.ladies-category a{
	position: relative;
	display: block;
    color: var(--color-background);
    overflow: hidden;
}

.ladies-category a img{
	display: block;
    transition: 0.5s;
}

.ladies-category a:hover img{
    transform: scale(1.03);
}

.ladies-category a p{
    z-index: 10;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    text-align: center;
    padding: 0 1em;
    
}




/************************************************/
/* VIDEO */
/************************************************/

.video-section{
   min-height: 32.2svh;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   padding: 1em;
}


.video-section video{
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    position: absolute;
    height: 100%;
}

.video-section p, .video-section h2{
    margin: 0;
    color: white;
}

.video-section h2{
    order: 2;
    margin-bottom: 0.8em;
}

.video-section p{
    order: 1;
}


.video-section button{
    padding: 0.9em 2em;
    background-color: var(--color-background);
    border: none;
    font-size: 0.9em;
    order: 3;
}
    


/************************************************/
/* DE SELECTIE VAN ONZE EDITORS */
/************************************************/


/************************************************/
/* SPECIAAL VOOR JOU GESELECTEERD */
/************************************************/


/************************************************/
/* NIEUWE COLLECTIE */
/************************************************/


/************************************************/
/* WAT VIND JE VAN DEZE OUTFITS */
/************************************************/

/************************************************/
/* INSPIRATIE */
/************************************************/

/************************************************/
/* NIEUWE MERKEN */
/************************************************/


/************************************************/
/* POPULAIRE MERKEN */
/************************************************/


/************************************************/
/* 24 ARTIKELEN VAN POPULAIRE MERKEN */
/************************************************/


/************************************************/
/* FOOTER */
/************************************************/