/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: var(--color-header);
    font-family: var(--font-proxyma);
}

p a {
    text-decoration: none;
}
/* font toevoegen: https://www.w3schools.com/css/css3_fonts.asp */
@font-face {
    font-family: "proxyma";
    src: url(../fonts/Proxima\ Nova\ Saint\ Laurent\ Clutch.woff2);
}

@font-face {
    font-family: "proxyma_bold";
    src: url(../fonts/Proxima\ Nova\ Semibold\ Saint\ Laurent\ Clutch.woff2);
}

@font-face {
    font-family: "saint_laurent";
    src: url(../fonts/Saint\ Laurent\ Clutch.woff2);
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* kleuren */
    --color-text: #111;
    --color-background: #eee;
    --color-lightbeige: rgb(250, 247, 243);
    --color-header: #f9f7f3;
    --color-header-text-hover: #aba6a4;
    --color-hamburger: #808080;
    --color-border_bottom_searchbar: #dcd8d4;
    --color-status_background: #f6efe7;
    --color-image_background: #f1f0ec;
    --color-button: #f7a800;
    --color-best_seller_text: #3e3a37;
    --color-border_onder_prijs: #e9e5e3;

    --color--lichtbeige: #f8f7f3;
    --color--donkerbeige: #ece5da;
    --color--wit: #ffffff;
    --color--zwart: #000000;
    --color--donkergrijs: #635f5c;
    --color--paars: #5a44b7;
    --color-oranje: #f7a800;

    /* fonts */
    --font-proxyma: "proxyma";
    --font-proxyma_bold: "proxyma_bold";
    --font-saint_laurent: "saint_laurent";

    /* spacing */
    --spacing-4: 0.25em;
    --spacing-8: 0.5em;
    --spacing-12: 0.75em;
    --spacing-16: 1em;
    --spacing-20: 1.25em;
    --spacing-24: 1.5em;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/****************************************************************/
/****************************************************************/
/****************************************************************/
/****************************************************************/

/* 1e PAGINA */

/****************************************************************/
/****************************************************************/
/****************************************************************/
/****************************************************************/

/* /------------------------------------------------/
/------------------------------------------------/
                    HEADER 
 /------------------------------------------------/
/------------------------------------------------/ */

header section h2 {
    display: none;
    
}

header > section {
    width: calc(100% - 8em);
    margin: auto;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
}

header section a {
    color: var(--color-text);
    text-decoration: none;
    padding: 0.1em;
    font-family: var(--font-proxyma);
}

header section a:nth-of-type(1),
header section a:nth-of-type(3) {
    display: none;
}

header section a:hover {
    color: var(--color-header-text-hover);
}

header nav {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
    padding: 0.6em 0;
    background-color: white;
}

header nav section:nth-child(1) {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--color-header);
    z-index: 20;
    transition: 1s;
    overflow: hidden;
}

header nav section:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 7.6em;
    align-items: center;
    gap: 0;
    margin: 0 0.5em;
}

header nav section:nth-child(2) > a img {
    grid-column-start: 3;
    grid-column-end: 5;
    justify-self: center;
    width: 6em;
    margin-left: -0.9em;
    margin-bottom: -0.5em;
}

header nav button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: var(--spacing-12);
}

header nav button span {
    display: none;
    visibility: hidden;
}

header form {
    /* grid-column-start: 5;
    grid-column-end: 6; */
    margin-top: 1em;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 7;
    justify-self: end;
    width: 13.5em;
    position: relative;
    width: 100%;
}

header form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color--donkerbeige);
    padding: var(--spacing-12);
}

/* Bron: https://www.w3schools.com/howto/howto_css_placeholder.asp */
header form input::placeholder {
    color: var(--color--donkergrijs);
}

header form img {
    position: absolute;
    right: 0;
}

.user_actions {
    gap: 1.5em;
    justify-self: end;
    margin: 0;
    padding: 0;
    grid-column-start: 5;
    grid-column-end: 7;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.user_actions li {
    list-style: none;
    position: relative;
}

.user_actions span {
    position: absolute;
    top: 0;
    right: -0.5em;
    width: 1.5em;
    height: 1.5em;
    background-color: var(--color-status_background);
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10em;
    font-size: 0.7em;
}

/* /------------------------------------------------/
/------------------------------------------------/
                    MAIN
 /------------------------------------------------/
/------------------------------------------------/ */

/* Bron: https://www.a11yproject.com/posts/how-to-hide-content/ */
main section h1 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main img {
    width: 100%;
}

/* /------------------------------------------------/
/------------------------------------------------/
            LAYOUT SECTION 3,6 & 7 
 /------------------------------------------------/
/------------------------------------------------/ */

main section:nth-of-type(3) ul,
main section:nth-of-type(6) ul,
main section:nth-of-type(7) ul {
    display: flex;
    list-style: none;
    overflow-x: scroll;
    padding-left: 1.5em;
}

main section:nth-of-type(3) ul li,
main section:nth-of-type(6) ul li,
main section:nth-of-type(7) ul li {
    position: relative;
}

main section:nth-of-type(3) ul li a,
main section:nth-of-type(6) ul li a,
main section:nth-of-type(7) ul li a {
    display: block;
    margin-bottom: 0;
}

main section:nth-of-type(3) ul li a img,
main section:nth-of-type(6) ul li a img,
main section:nth-of-type(7) ul li a img {
    display: block;
    transition: 0.5s;
    width: 18em;
    margin-right: 0.8em;
}

/* /------------------------------------------------/
/------------------------------------------------/
        LAYOUT SECTION 5,10 voor 3'ps 
 /------------------------------------------------/
/------------------------------------------------/ */

main section:nth-of-type(5) ul li > p:nth-of-type(1),
main section:nth-of-type(10) ul li > p:nth-of-type(1) {
    color: var(--color--donkergrijs);
    font-family: var(--font-proxyma);
    font-size: 0.9em;
    width: 15em; /* the element needs a fixed width (in px, em, %, etc) */
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
}

/* /------------------------------------------------/
/------------------------------------------------/
        LAYOUT SECTION 4,5,8,9,10 
 /------------------------------------------------/
/------------------------------------------------/ */

main section:nth-of-type(4),
main section:nth-of-type(5),
main section:nth-of-type(8),
main section:nth-of-type(9),
main section:nth-of-type(10) {
    background-color: #f9f7f3;
    padding: 0 0 0 0.8em;
}

main section:nth-of-type(4) header,
main section:nth-of-type(5) header,
main section:nth-of-type(8) header,
main section:nth-of-type(9) header,
main section:nth-of-type(10) header {
    margin-left: 0.5em;
}

main section:nth-of-type(4) ul,
main section:nth-of-type(5) ul,
main section:nth-of-type(8) ul,
main section:nth-of-type(9) ul,
main section:nth-of-type(10) ul {
    display: flex;
    list-style: none;
    overflow-x: scroll;
    margin-top: 1.8em;
    padding: 0;
}

main section:nth-of-type(4) ul li,
main section:nth-of-type(5) ul li,
main section:nth-of-type(8) ul li,
main section:nth-of-type(9) ul li,
main section:nth-of-type(10) ul li {
    display: flex;
    flex-direction: column;
}

main section:nth-of-type(4) ul li h3,
main section:nth-of-type(5) ul li h3,
main section:nth-of-type(8) ul li h3,
main section:nth-of-type(9) ul li h3,
main section:nth-of-type(10) ul li h3,
main section:nth-of-type(10) ul li h4 {
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

main section:nth-of-type(10) ul li h4 {
    margin-top: 0;
    font-size: 0.8em;
    font-family: var(--font-proxyma_bold);
}

main section:nth-of-type(4) ul li div,
main section:nth-of-type(5) ul li div,
main section:nth-of-type(8) ul li div,
main section:nth-of-type(9) ul li div,
main section:nth-of-type(10) ul li div {
    position: relative;
    order: 1;
}

main section:nth-of-type(4) ul li div > img,
main section:nth-of-type(5) ul li div > img,
main section:nth-of-type(8) ul li div > img,
main section:nth-of-type(9) ul li div > img,
main section:nth-of-type(10) ul li div > img {
    width: 13.3em;
    margin-right: 0.7em;
    position: relative;
    z-index: 0;
}

main section:nth-of-type(4) ul li button,
main section:nth-of-type(5) ul li button,
main section:nth-of-type(8) ul li button,
main section:nth-of-type(9) ul li button,
main section:nth-of-type(10) ul li button {
    position: absolute;
    border: none;
    z-index: 10;
    bottom: 1em;
    right: 1em;
    background-color: transparent;
}

main section:nth-of-type(8) ul li h3 {
    margin-top: 0.3em;
    /* font-family: var(--font-saint_laurent); */
}

main section:nth-of-type(4) ul li h3,
main section:nth-of-type(5) ul li h3,
main section:nth-of-type(8) ul li h3,
main section:nth-of-type(9) ul li h3,
main section:nth-of-type(10) ul li h3,
main section:nth-of-type(10) ul li h4,
main section:nth-of-type(4) ul li h3 a,
main section:nth-of-type(5) ul li h3 a,
main section:nth-of-type(8) ul li h3 a,
main section:nth-of-type(9) ul li h3 a,
main section:nth-of-type(10) ul li h3 a {
    text-decoration: none;
    color: var(--color--zwart);
    order: 2;
    font-family: var(--font-saint_laurent);
}

main section:nth-of-type(4) ul li > p,
main section:nth-of-type(5) ul li > p,
main section:nth-of-type(8) ul li > p,
main section:nth-of-type(9) ul li > p,
main section:nth-of-type(10) ul li > p {
    order: 2;
}

main section:nth-of-type(4) ul li > p,
main section:nth-of-type(5) ul li > p,
main section:nth-of-type(9) ul li > p,
main section:nth-of-type(10) ul li > p {
    margin-top: 0.2em;
    font-family: var(--font-proxyma_bold);
    color: var(--color--zwart);
}

main section:nth-of-type(8) ul li > p:nth-of-type(1) {
    color: var(--color--donkergrijs);
    margin: 0;
    font-size: 0.9em;
}

main section:nth-of-type(8) ul li > p:nth-of-type(2) {
    font-family: var(--font-proxyma_bold);
    font-size: 0.9em;
}

/* /------------------------------------------------/
/------------------------------------------------/
        LABEL STYLING 
 /------------------------------------------------/
/------------------------------------------------/ */

.label {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    font-size: 0.8em;
    background-color: #f9f7f3;
    padding: 0.4em 0.6em;
    margin-left: 0;
    margin-bottom: 0;
    color: #635f5c;
    width: fit-content !important;
}

.label.paars {
    background-color: var(--color--paars);
    color: var(--color--wit);
}
main section:nth-of-type(6) .label {
    background-color: var(--color--wit);
}

main section:nth-of-type(8) .label,
main section:nth-of-type(10) .label {
    bottom: 0.5em;
}

/* /------------------------------------------------/
/------------------------------------------------/
        ONTDEK DE DAMES CATEGORIEEN  
 /------------------------------------------------/
/------------------------------------------------/ */

.ladies-category h2 {
    display: flex;
    margin-left: 0.8em;
    max-width: 30ch;
    margin-bottom: 1em;
}

.ladies-category ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    gap: 0.5em;
    margin: 0;
    padding: 0 1em;
}

.ladies-category a {
    position: relative;
    display: block;
    color: var(--color-background);
    overflow: hidden;
}

.ladies-category a img {
    display: block;
    transition: 0.5s;
}

.ladies-category a:hover img {
    transform: scale(1.03);
}

.ladies-category a p {
    z-index: 10;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    text-align: center;
    padding: 0 1em;
    font-family: var(--font-saint_laurent);
}

/* /------------------------------------------------/
/------------------------------------------------/
                    VIDEO 
 /------------------------------------------------/
/------------------------------------------------/ */

main section:nth-of-type(2) {
    min-height: 32.2svh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 1em;
    margin-top: 1.1em;
}

main section:nth-of-type(2) video {
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    position: absolute;
    height: 100%;
}

main section:nth-of-type(2) p:nth-of-type(1),
main section:nth-of-type(2) h2 {
    margin: 0;
    color: white;
    font-family: var(--font-saint_laurent);
    font-weight: 300;
}

main section:nth-of-type(2) h2 {
    order: 2;
    margin-bottom: 0.8em;
    font-size: 1.7em;
}

main section:nth-of-type(2) p:nth-of-type(1) {
    order: 1;
    font-size: 0.9em;
}

main section:nth-of-type(2) button {
    padding: 0.9em 2em;
    background-color: var(--color-background);
    border: none;
    font-size: 0.9em;
    order: 3;
    color: var(--color--zwart);
}

main section:nth-of-type(2) p:nth-of-type(2) {
    display: none;
}

/* /------------------------------------------------/
/------------------------------------------------/
        DE SELECTIE VAN ONZE EDITORS 3  
 /------------------------------------------------/
/------------------------------------------------/ */

main section:nth-of-type(3) header a,
main section:nth-of-type(7) header a {
    text-decoration: none;
    border-bottom: 0.1em solid black;
    padding-bottom: 0.1em;
    font-size: 0.85em;
    color: black;
    font-family: var(--font-proxyma_bold);
    display: block;
    width: fit-content;
    margin-top: 1.4em;
}

main section:nth-of-type(3),
main section:nth-of-type(6) {
    background: white;
    padding: 1.5em 0;
}

main section:nth-of-type(3) header,
main section:nth-of-type(6) header,
main section:nth-of-type(7) header {
    margin-left: 1.5em;
}

h2 {
    font-family: var(--font-saint_laurent);
    font-weight: 300;
    margin-bottom: 0;
}

main section:nth-of-type(3) p {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 1.2em;
    font-family: var(--font-saint_laurent);
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: flex-end;
    justify-content: start;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 1em;
    margin: 0;
}

main section:nth-of-type(3) ul li a:hover img {
    transform: scale(1.03);
}

/* /------------------------------------------------/
/------------------------------------------------/
SPECIAAL VOOR JOU GESELECTEERD 4 & NIEUWE COLLECTIE 5  
 /------------------------------------------------/
/------------------------------------------------/ */

main section:nth-of-type(4) ul li h3,
main section:nth-of-type(5) ul li h3,
main section:nth-of-type(4) ul li > p,
main section:nth-of-type(5) ul li > p {
    order: 2;
    margin-top: 0.2em;
    font-family: var(--font-proxyma_bold);
    font-size: 0.9em;
}

main section:nth-of-type(4) ul li > p:nth-of-type(1),
main section:nth-of-type(5) ul li > p:nth-of-type(1),
main section:nth-of-type(8) ul li > p:nth-of-type(1) {
    font-family: var(--font-proxyma);
    margin-bottom: 0;
    font-size: 0.85em;
    width: 15em; /* the element needs a fixed width (in px, em, %, etc) */
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
    color: var(--color--donkergrijs);
}

/* Bron: https://stackoverflow.com/questions/37132752/adding-when-text-is-too-long-in-a-div-with-only-css */

main section:nth-of-type(4) ul li:nth-of-type(2),
main section:nth-of-type(5) ul li p:nth-of-type(2) {
    margin-top: 0;
    font-family: var(--font-proxyma_bold);
}

main section:nth-of-type(4) ul li button,
main section:nth-of-type(5) ul li button {
    position: absolute;
    border: none;
    z-index: 10;
    bottom: 1em;
    right: 1em;
    background-color: transparent;
}

main section:nth-of-type(5) header a {
    text-decoration: none;
    color: var(--color--zwart);
    border-bottom: 0.1em solid black;
    padding-bottom: 0.1em;
    font-family: var(--font-proxyma_bold);
    font-size: 0.85em;
}

main section:nth-of-type(5) ul li:nth-of-type(1) > p:nth-of-type(1) {
    font-family: var(--font-proxyma_bold);
    color: var(--color--zwart);
}

main section:nth-of-type(5) ul li:nth-of-type(1) p:nth-of-type(2) {
    font-family: var(--font-proxyma);
    color: var(--color--donkergrijs);
    margin-top: 0.4em;
    margin-bottom: 0.3em;
    font-size: 0.9em;
}

main section:nth-of-type(5) ul li:nth-of-type(1) p:nth-of-type(3) {
    font-size: 0.9em;
    font-family: var(--font-proxyma_bold);
}

main section:nth-of-type(5) ul li:nth-of-type(2) > p:nth-of-type(1) {
    font-family: var(--font-proxyma_bold);
    color: var(--color--zwart);
}

main section:nth-of-type(5) ul li:nth-of-type(2) p:nth-of-type(2) {
    font-family: var(--font-proxyma);
    color: var(--color--donkergrijs);
    margin-top: 0.4em;
    margin-bottom: 0.3em;
    font-size: 0.9em;
}

main section:nth-of-type(5) ul li:nth-of-type(2) p:nth-of-type(3) {
    font-size: 0.9em;
    font-family: var(--font-proxyma_bold);
}

/* /------------------------------------------------/
/------------------------------------------------/
             INSPIRATIE 7 
 /------------------------------------------------/
/------------------------------------------------/ */

main section:nth-of-type(7) a {
    font-family: var(--font-proxyma);
    text-decoration: none;
    color: var(--color--zwart);
}

main section:nth-of-type(7) ul li p:nth-of-type(1) {
    font-size: 0.9em;
    margin-bottom: 0;
}

main section:nth-of-type(7) ul li p:nth-of-type(2) {
    font-size: 0.8em;
    margin: 0;
}

main section:nth-of-type(7) h3 {
    font-family: var(--font-proxyma);
    margin-top: 0.6em;
    margin-bottom: 0.5em;
    color: var(--color--zwart);
}

/* /------------------------------------------------/
/------------------------------------------------/
            NIEUWE MERKEN 8
 /------------------------------------------------/
/------------------------------------------------/ */

main section:nth-of-type(8) {
    padding-top: 1.5em;
    background-color: var(--color--wit);
}

main section:nth-of-type(8) h2 {
    margin-bottom: 1.5em;
}
main section:nth-of-type(8) ul li:nth-of-type(1),
main section:nth-of-type(8) ul li:nth-of-type(5) {
    margin-right: 0.8em;
}

main section:nth-of-type(8) ul li:nth-of-type(1) a,
main section:nth-of-type(8) ul li:nth-of-type(5) a {
    position: relative;
}

main section:nth-of-type(8) ul li:nth-of-type(1) img,
main section:nth-of-type(8) ul li:nth-of-type(5) img {
    width: 13em;
    display: block;
}

main section:nth-of-type(8) ul li:nth-of-type(5) span {
    padding: 1.5em 0;
}

main section:nth-of-type(8) ul li:nth-of-type(1) img:nth-of-type(2),
main section:nth-of-type(8) ul li:nth-of-type(5) img:nth-of-type(2) {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

main section:nth-of-type(8) ul li span {
    position: absolute;
    text-align: center;
    font-size: 0.9em;
    color: var(--color--wit);
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2em;
    text-decoration: underline;
}

.prijzen {
    display: flex;
    gap: 0.5em;
    order: 3 !important;
    font-family: var(--font-proxyma_bold);
}

.prijzen p {
    margin-top: 0.3em;
}

.prijzen p:nth-of-type(1) {
    color: var(--color--donkergrijs);
    text-decoration: line-through;
}

.prijzen p:nth-of-type(2) {
    color: var(--color--paars);
}

/* /------------------------------------------------/
/------------------------------------------------/
            POPULAIRE MERKEN 9
 /------------------------------------------------/
/------------------------------------------------/ */

main section:nth-of-type(9) {
    background-color: var(--color--wit);
    padding-top: 1.5em;
}

main section:nth-of-type(9) h2 {
    margin-left: 1em;
    margin-bottom: 1.3em;
}

main section:nth-of-type(9) img:nth-of-type(1) {
    width: 100%;
    height: 100%;
}

main section:nth-of-type(9) img:nth-of-type(2) {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    padding: 1.5em;
    opacity: 90%;
}

main section:nth-of-type(9) li {
    margin-right: 1em;
}

main section:nth-of-type(9) li a {
    position: relative;
    overflow: hidden;
    display: block;
    width: 18em;
    border-radius: 100%;
}

main section:nth-of-type(9) ul,
main section:nth-of-type(8) ul {
    margin: 0 !important;
    padding: 0;
}

/* /------------------------------------------------/
/------------------------------------------------/
        24 ARTIKELEN VAN POPULAIRE MERKEN 10
 /------------------------------------------------/
/------------------------------------------------/ */

main section:nth-of-type(10) {
    background-color: var(--color--wit);
    padding-top: 1.5em;
}

main section:nth-of-type(10) h2 {
    font-size: 1.8em;
    max-width: 20ch;
    margin-bottom: 0.5em;
}

main section:nth-of-type(10) header a {
    text-decoration: none;
    color: var(--color--zwart);
    font-family: var(--font-proxyma_bold);
    font-size: 0.9em;
    border-bottom: 0.1em solid var(--color--zwart);
}

/* /------------------------------------------------/
/------------------------------------------------/
            DAMESMODE MERKEN
 /------------------------------------------------/
/------------------------------------------------/ */

main section:nth-of-type(11) {
    display: none;
}

/* /------------------------------------------------/
/------------------------------------------------/
            FOOTER
 /------------------------------------------------/
/------------------------------------------------/ */

footer h2 {
    display: none;
}

footer section ul {
    list-style: none;
    /* max-width: 33%; */
}

footer section li {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 1.3em;
    position: relative;

}

footer section:nth-of-type(2) ul li:nth-of-type(1),
footer section:nth-of-type(4) ul li:nth-of-type(1) {
    margin-bottom: 0em;
}

footer section:nth-of-type(4) div ul li:nth-of-type(1){
    margin-bottom: 1.3em;
}

footer section:nth-of-type(1) img {
    width: 1.6em;
}

footer section a {
    text-decoration: none;
    font-size: 0.9em;
    color: var(--color--donkergrijs);
    font-family: var(--font-proxyma);
    
}

footer h3 {
    display: block;
    font-family: var(--font-saint_laurent);
}

footer section:nth-of-type(4){
    padding: 0 2em;
}
    

footer section:nth-of-type(4) ul {
    border-bottom: 0.1em solid var(--color--donkerbeige);
    padding: 0;
    height: 0;
	overflow: hidden;
}

footer h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--color--zwart);
    font-size: 0.95em;
    /* padding: 0 2em; */
    margin-top: 3em;
}

/*Bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Next-sibling_combinator */
footer ul h3 + img {
    position: absolute;
    width: 4em;
    opacity: 4%;
}

footer section:nth-of-type(2) {
    background-color: var(--color--wit);
    padding-top: 1em;
    display: flex;
    flex-flow: wrap row;
}

footer section:nth-of-type(2) a {
    border-bottom: 0.1em solid var(--color--zwart);
}

footer div {
    margin-top: -1em;
    color: var(--color--donkergrijs);
    font-size: 0.9em;
}

footer div p:nth-of-type(2) {
    margin-left: 2em;
}

footer div img {
    transform: translateY(0.7em);
}

footer section:nth-of-type(3) h3 {
    display: none;
}

footer section:nth-of-type(3) {
    display: flex;
    flex-flow: wrap;
    gap: 2em 1.1em;
    padding: 3em;
    justify-content: center;
}

footer section:nth-of-type(5) h3 {
    display: none;
}
footer section:nth-of-type(5) {
    display: flex;
    flex-flow: wrap;
    gap: 2em 1.1em;
    padding: 3em;
    justify-content: center;
}

footer > img {
    width: 3em;
    margin: auto;
    display: block;
    margin-top: -2em;
}

footer > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 0.3em;
    padding: 0 4em;

}

footer > ul a {
    text-decoration: none;
    color: var(--color--zwart);
    font-size: 0.8em;
}

.show {
	height: 100% !important;
}


/************************************************/
/* 455 PX INDEX MEDIA QUERY */
/************************************************/
@media (min-width: 455px) {

    .ladies-category h2 {
        max-width: 30ch;
    }

    .ladies-category a img {
        width: 13em;
    }
    
    .ladies-category a p {
        font-size: 1.2em;
    }

    main section:nth-of-type(2) {
        min-height: 39svh;
    }

    h2 {
        font-size: 1.7em;
    }

    main section:nth-of-type(3) header a, main section:nth-of-type(7) header a {
        font-size: 0.93em;
        font-family: var(--font-proxyma_bold);
        
    }

    main section:nth-of-type(3) ul li a img, main section:nth-of-type(6) ul li a img, main section:nth-of-type(7) ul li a img {
        width: 18.7em;
    }

    footer > ul {
        padding: 0 3em;
    }
}

/************************************************/
/* 480 PX INDEX MEDIA QUERY */
/************************************************/
@media (min-width: 480px) {

    .ladies-category h2 {
        max-width: 40ch;
    }

    .ladies-category ul {
        display: flex;
        overflow-x: scroll;
        white-space: nowrap;
        gap: 0.6em;
    }

    .ladies-category a img {
        width: 11.3em;
        /* goeie code om fotos groter te maken? want was anders  */
    }

    main section:nth-of-type(2){
        min-height: 68svh;
    }
    
    main section:nth-of-type(2)p:nth-of-type(2) {
        display: block !important;
        /* werkt niet? */
    }
    
    main section:nth-of-type(3) ul li a img, main section:nth-of-type(6) ul li a img, main section:nth-of-type(7) ul li a img {
        width: 19.8em;
    }
    
    main section:nth-of-type(3) p {
        font-size: 1.4em;
    }
    
    main section:nth-of-type(9) h2 {
        margin-left: 1em;
        margin-bottom: 0.9em;
    }
    
    main section:nth-of-type(9) li a{
        width: 20em;
    }
    
    main section:nth-of-type(10) h2 {
        max-width: 40ch;
    }
}



/* footer met 3 checks , de laatste moet rechst staan*/

/************************************************/
/* 536 PX INDEX MEDIA QUERY */
/************************************************/
@media (min-width: 536px) {

    /* waar ben je naar opzoek is gecentreerd
    header form {
        margin-top: 1em;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 7;
        justify-self: end;
        width: 1em;
        position: relative;
        width: 100%;
    } */

    .ladies-category a img {
        width: 13em;
        /* goeie code om fotos groter te maken? want was anders  */
    }

    main section:nth-of-type(2){
        min-height: 60svh;
    }

    main section:nth-of-type(3) ul li a img, main section:nth-of-type(6) ul li a img, main section:nth-of-type(7) ul li a img {
        width: 22em;
    }

    main section:nth-of-type(9) li a{
        width: 22em;
    }
    
    main section:nth-of-type(10) h2 {
        max-width: 30ch;
    }
    
    /* footer met 3 checks , de laatste moet rechst staan*/
    /* regel hetzelf onder elkaar */
    
}




/************************************************/
/* 600 PX INDEX MEDIA QUERY */
/************************************************/
@media (min-width: 600px) {
    .ladies-category a img {
        width: 14.7em;
        /* goeie code om fotos groter te maken? want was anders  */
    }

    main section:nth-of-type(3) ul li a img, main section:nth-of-type(6) ul li a img, main section:nth-of-type(7) ul li a img {
        width: 24.5em;
    }
    
    main section:nth-of-type(9) li a{
        width: 24em;
    }

    main section:nth-of-type(10) h2 {
        max-width: 40ch;
    }

}

/************************************************/
/* 616 PX INDEX MEDIA QUERY */
/************************************************/
@media (min-width: 616px) {
}

/************************************************/
/* 768 PX INDEX MEDIA QUERY */
/************************************************/
@media (min-width: 768px) {
}

/************************************************/
/* 992 PX INDEX MEDIA QUERY */
/************************************************/
@media (min-width: 992px) {
}

/****************************************************************/
/****************************************************************/
/****************************************************************/
/****************************************************************/

/* DETAIL PAGINA */

/****************************************************************/
/****************************************************************/
/****************************************************************/
/****************************************************************/

.detailpagina header {
    background-color: var(--color--wit);
    padding: 1em 0 1em 0;
}

.detailpagina a img {
    width: 1em;
    margin-right: 0.5em;
}

.detailpagina a {
    text-decoration: none;
    font-size: 0.9em;
    color: var(--color--zwart);
    background-color: var(--color--wit);
}
.detailpagina a:nth-of-type(1) {
    display: block;
    margin-left: 1em;
    display: flex;
    align-items: center;
}

.detailpagina a:nth-of-type(2) {
    display: none;
}

.detailpagina a span {
    display: none;
}

.detailpagina section:nth-of-type(1) h2 {
    display: none;
}

/* /------------------------------------------------/
/------------------------------------------------/
            PRODUCT FOTOS
 /------------------------------------------------/
/------------------------------------------------/ */

section:nth-of-type(1) div {
    position: relative;
}

section:nth-of-type(1) div > img {
    position: absolute;
    width: 2em;
    top: 28em;
    right: 0;
}

section:nth-of-type(1) div ul:nth-of-type(1) {
    overflow-x: scroll;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

section:nth-of-type(1) div ul:nth-of-type(2) {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
    margin: 0;
}

section:nth-of-type(1) div ul:nth-of-type(1) img {
    width: 23em;
}

/* Bron: https://developer.mozilla.org/en-US/docs/Web/CSS/minmax */
section:nth-of-type(1) {
    flex-flow: row wrap;
    gap: 1em;
}

aside {
    padding: 2em 1.5em;
    background-color: var(--color--wit);
}

aside section:nth-of-type(1) p:nth-of-type(1) {
    font-size: 0.8em;
    color: var(--color--zwart);
}

aside section:nth-of-type(1) h2 {
    display: block !important;
    font-size: 1.8em;
    margin-top: -0.05em;
}

aside section:nth-of-type(1) p:nth-of-type(2) {
    font-size: 1em;
    color: var(--color--donkergrijs);
}

aside section:nth-of-type(1) p:nth-of-type(3) {
    font-family: var(--font-proxyma_bold);
}

aside section:nth-of-type(2) {
    display: flex;
    align-items: center;
    gap: 2em;
}

aside section:nth-of-type(3) {
    display: flex;
    align-items: center;
}

aside section:nth-of-type(3) button {
    color: var(--color--wit);
    background-color: var(--color-oranje);
    border: none;
    padding: 1em 8em;
    white-space: nowrap;
}

aside section:nth-of-type(3) img {
    width: 1.1em;
    border: solid var(--color--donkergrijs) 0.1em;
    border-radius: 100%;
}

aside p:nth-of-type(1),
aside p:nth-of-type(2) {
    font-family: var(--font-proxyma_bold);
}

aside img:nth-of-type(1),
aside img:nth-of-type(2) {
    width: 1em;
}

/* aside h2{
    
    margin-left: 1em;
}

aside section:nth-of-type(1){
    margin-left: 1.2em;
}

aside p:nth-of-type(1){
    font-size: 0.8em;
    color: var(--color--donkergrijs);
    
    
}

aside p:nth-of-type(2){
    color: var(--color--donkergrijs);
    
}

aside p:nth-of-type(3){
    font-family: var(--font-proxyma_bold);
   
}

aside section:nth-of-type(2) h2,
aside section:nth-of-type(3) h2{
display: none !important;
}

aside section:nth-of-type(2){
    display: flex;
    align-items: center;
    gap: 2em;
    border-top: .05em solid var(--color--donkergrijs);
    border-bottom: .05em solid var(--color--donkergrijs);
    padding: 0.5em;
    margin-top: 2em;
}

aside section:nth-of-type(3){
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
    min-height: fit-content !important;
    padding: 0.5em;
}

aside section:nth-of-type(3) button{
    color:var(--color--wit);
    background-color: var(--color-oranje);
    border: none;
    padding: 1em 8em;
    white-space: nowrap;
}

aside section:nth-of-type(3) img{
    width: 2.6em;
    border: solid var(--color--donkergrijs) 0.1em;
    border-radius: 100%;
    padding: 0.5em;
    margin: 0.2em;
}


aside section p:nth-of-type(1){
    font-family: var(--font-proxyma_bold);
    color: var(--color--zwart);
    font-size: 1em;
}

aside section p:nth-of-type(2){
    color: var(--color--zwart);
}



aside p:nth-of-type(6){
background-color: var(--color--lichtbeige);
color: var(--color--donkergrijs);
font-size: 0.75em;
}

aside p:nth-of-type(6) a{
    text-decoration: underline;
    font-family: var(--font-proxyma_bold);
    font-size: 1em;
} */

/* aside img:nth-of-type(2),
aside img:nth-of-type(3),
aside img:nth-of-type(4),
aside img:nth-of-type(5),
aside img:nth-of-type(6),
aside img:nth-of-type(7){
width: 1em;
} */

/* /------------------------------------------------/
/------------------------------------------------/
            BEKIJK MEER
 /------------------------------------------------/
/------------------------------------------------/ */
